body {
    margin: 0;
    padding: 0;
    color: rgb(102, 102, 102);
}

.container_popup {
    padding: 25px;
    width: 200px;
    background: #f3f3f3;
}

.container_options {
    padding: 25px;
    width: 500px;
}


h1 {
    margin: 0;
}

.input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 3px;
}

.button {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #00b7ff;
    border-radius: 3px;
    background: #00a2e2;
    color: #f3f3f3;
}